*{margin: 0; padding:0;}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}

footer {
	background-color: #333333;
	width: 100%;
	height: 250px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	font-size: 14px;
	padding-top: 30px;
}
.conteudo {
	width: 80%;
	margin: auto;
	height: 100%;
}
.conteudo li a{
	font-size: 15px;
	color: white;

}

.box {
	float: left;
	height: 200px;
}
.box h2 {
	margin-bottom: 10px;
	color: #009ae1;
}
.box1 {
	padding-right: 10%;
	border-right: 1px solid #ccc;
}
.box1 a:hover {
	text-decoration: underline;
}
.box2 {
	padding-right: 10%;
	padding-left: 7%;
	border-right: 1px solid #ccc;
	font-size: 15px;
	color: white;

}
.box3 {
	padding-right: 10%;
	padding-left: 7%;
	font-size: 15px;
	color: white;

}
.conteudo li{
	color: white;
}
