@import url(http://fonts.googleapis.com/css?family=Roboto:300);
.corpo{background-color: #FFFFF0;
height: 100%;
border-radius: 4px;}
#conteudo {
	border-radius: 20px;
	background-color:#FFFFF0;
	width: 100%;
	height: 100%;
	margin: auto;
	height: 1000px;
	font-family: 'Roboto', sans-serif;
	font-weight:normal
}




.lateral{
	height: 220px;
	float: left;
	color: #FFF;
	text-align: center;
	line-height: 220px;
	font-size: 35pt;
	border-radius: 10px;
	margin-top: 100px;
	margin-left: 30px;
	width: 320px;
	margin-right: 20px;
}

.lateral img{
	margin-top: 5px;
	border-radius: 10px;

	
}


.corpo h2{
	font-weight:normal;
	margin-bottom: 10px;
	color: #0000CD;

}

.corpo p{
	font-weight:normal;
	font-size: 11pt;

}

.corpo .bloco{
	width: 72%;
	height: auto;
	float: left;
	margin-top: 120px;
}

.corpo .bloco h3{
	width: 217px;
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	color: #0000CD;
}

.corpo .bloco p{
	width: 700px;
}

.corpo .bloco table{
	border-collapse:collapse;
	border-spacing:0;
	CELLPADDING: 0;

}

.corpo .bloco table .td-titulo{
	width: 100%;
	vertical-align: top;
}

.corpo .bloco table tr{
	border-bottom: 1px dotted gray;
}